/*
|*************************************************************************;
* Copyright 2019, Timothy Howard, All rights reserved.
* ScriptName    : Global Root for CSS 
* ScriptPath    : /css/root.css
|*************************************************************************;
*/

@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");
@import url("https://fonts.googleapis.com/css?family=Squada+One&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/*
|*************************************************************************;
* Stylesheets Imports
|*************************************************************************;
*/
/* Base Page */
@import url("assets-base/extra-asset.css");

/* Assets Libraries */
@import url("assets-base/base-page.css");
@import url("lib-css/fontawesome-all.min.css");

/*
|*************************************************************************;
* Stylesheets Global Var
|*************************************************************************;
*/
:root {
  /* Fonts */
  --main-font: "Poppins", sans-serif;
  /*font-family: 'Poppins', sans-serif;*/
  --sub-font: 'Bungee', cursive;
  /* Color */
  --asset-color-5: #2b2b2b;

  /* Base Properties */

  /* Cursor Setting */
  --main-cursor-default: default;
  --main-cursor-grab: grab;
  --main-cursor-grabbing: grabbing;
  --main-cursor-pointer: pointer;
  --main-cursor-text: text;

  /* Text Settings */
  --main-text-shadow: 0px 0px 4px rgb(0, 0, 0);

/*
|*************************************************************************;
* SVG Properties
|*************************************************************************;
*/

  /* SVG - Circut */
  --svg-background-pattern: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23333333' fill-opacity='0.2'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  /* Default Box Shadow */
  --webkit-boxshadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  --moz-boxshadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  --box-boxshadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

  /* Border Properties */
  --border-radius-none: 0rem;
  --border-radius-3: 3px;
}

/*
|*************************************************************************;
* Page Properties 
|*************************************************************************;
*/

/* Remove Body Scroll */
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}
@-moz-document url-prefix() {
  html,
  body {
    overflow: hidden !important;
  }
}

/* Remove Body Text Highlight */
::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}

/*
|*************************************************************************;
* Animation / Keyframes
|*************************************************************************;
*/

/* Animation -Float */
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-5px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
